---
import Layout from '../layouts/Layout.astro';
import HeroSearch from '../components/HeroSearch.astro';
import TechStack from '../components/TechStack.astro';
import Experiencia from '../components/Experiencia.astro';
---

<Layout title="DevXtroner" description="Contratame para crear tu aplicación web o móvil. Desarrollador Web y Estudiante. Especializado en crear aplicaciones únicas.">
	<main class="w-full max-w-5xl mx-auto px-6 flex flex-col items-start">
		<HeroSearch/>
		<TechStack/>
		<Experiencia/>
	</main>
</Layout>

<style>
</style>
