---
import SwiperTech from "./SwiperTech";
---
<section class=" xl:max-w-7xl lg:max-w-[1008px] md:max-w-[789px] sm:max-w-3xl">
    <div class="lg:px-36 md:py-28 md:px-10 md:pt-10 sm:pt-20 pt-10 w-full">
        <h1 class="text-white font-bold lg:text-5xl md:text-4xl sm:text-4xl text-4xl">Tech Stack</h1>
        <p class="text-white pt-4">Conocimientos</p>
        <SwiperTech client:load/>
    </div>
</section>